.popular{ /*the whole part of popular*/
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 120vh;
}
.popular h1{ /*POPULAR IN WOMEN*/
    color: #171717;
    font-size: 50px;
    font-weight: 600;
}
.popular hr{ /*the line below popular in women*/
    width: 300px;
    height: 3px;
    border-radius: 100px;
    background: #252525;
}
.popular-item{
    margin-top: 50px;
    display: flex;
    gap: 30px;
}
/* ---------- media query------------ */

@media(max-width: 800px){
    .popular h1{
        font-size: 30px;
    }
    .popular hr{
        width: 80px;
        height: 4px;
        
    }
}